@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'League Spartan', sans-serif;
}

/* Styles for the desktop cart sidebar transition */
.cart-sidebar-enter {
  transform: translateX(100%);
  opacity: 0;
}

.cart-sidebar-enter-active {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 200ms ease-in-out, opacity 500ms ease-in-out;
}

.cart-sidebar-exit {
  transform: translateX(0%);
  opacity: 1;
}

.cart-sidebar-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}

.smooth-expand {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}

.smooth-expand.open {
  max-height: 500px; /* set this higher if needed */
  opacity: 1;
}
