@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'League Spartan', sans-serif;
}

/* Styles for the desktop cart sidebar transition */
.cart-sidebar-enter {
  transform: translateX(100%);
  opacity: 0;
}

.cart-sidebar-enter-active {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 200ms ease-in-out, opacity 500ms ease-in-out;
}

.cart-sidebar-exit {
  transform: translateX(0%);
  opacity: 1;
}

.cart-sidebar-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}

.smooth-expand {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}

.smooth-expand.open {
  max-height: 500px;
  /* set this higher if needed */
  opacity: 1;
}

.cart-sidebar-enter {
  opacity: 0;
  transform: translateX(20px);
}

.cart-sidebar-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.cart-sidebar-exit {
  opacity: 1;
  transform: translateX(0);
}

.cart-sidebar-exit-active {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

/* Mobile Bottom Cart Animations */
/* No specific CSSTransition for mobile cart container itself, controlled by transformY */

/* Custom Scrollbar for better aesthetics */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f8f8f8;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c0d2fb;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f6ad55;
  /* Darker shade on hover */
}

.parent-element {
  height: 100%; /* or any specific height */
  overflow: auto; /* or scroll */
}

.sticky-search {
  position: sticky;
  top: 0; /* This is crucial for sticky positioning */
  z-index: 20; /* Ensure it's above other elements */
  background: white; /* To ensure it's visible */
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  border: 1px solid #e2e8f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Add to your global stylesheet */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
